{% extends 'base.html.twig' %}

{% block title %}Produs{% endblock %}

{% block body %}
 <center><h1>Produs - Show</h1></center>
</br></br>

    <table class="table">
        <tbody>
            <tr>
                <th><h3>Id</h3></th>
                <td><h3>{{ prod_desc.id }}</td>
            </tr>
            <tr>
                <th><h3>Name</h3></th>
                <td><h3>{{ prod_desc.Name }}</td>
            </tr>
            <tr>
                <th><h3>Descriere</h3></th>
                <td><h3>{{ prod_desc.Descriere }}</td>
            </tr>
            <tr>
                <th><h3>Pret</h3></th>
                <td><h3>{{ prod_desc.Pret }}</td>
            </tr>

            <tr>
                <th><h3>Tara</h3></th>
                <td><h3>{{ prod_desc.taraprod }}</h3></td>
            </tr>
        </tbody>
    </table>
<hr>
  </br></br>

    <h3 style="color: #6b5b95;"><center><a href="{{ path('prod_desc_index') }}">List</a></center></h3>

    </br>
    <h3 style="color: #6b5b95;"><center><a href="{{ path('prod_desc_edit', {'id': prod_desc.id}) }}">Edit</a></center></h3>
</br>
   <center> {{ include('prod_desc/_delete_form.html.twig') }}</center>
{% endblock %}
